<div class="panel panel-default">
    <div class="panel-heading">Самые обсуждаемые</div>
    <div class="panel-body">some text</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Ratingовые</div>
    <div class="panel-body">some text</div>
</div>